/* header */
* {
  margin: 0;
  padding: 0;
}
.wrapper {
  margin: 0 125px;
  padding: 0 15px;
}
.header {
  height: 90px;
}
.heading {
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
}
.avatar {
  width: 100%;
  padding: 10px 0;
}
.avatar > a > img {
  max-height: 70px;
  width: 80px;
}

.LogUp {
  font-size: 18px;
  padding-left: 8px;
}
.LogUp > a {
  text-decoration: none;
  color: #000;
}
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message,
.signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

/* General styles for the form */
.form label {
  position: relative;
}
.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
  display: flex;
  font-size: 0.8rem;
  line-height: 0.8rem;
  padding-left: 8px;
  padding-bottom: 6px;
  padding-top: 8px;
}
.form-group .input1{
  width: 86%;
}

.form label input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

/* Label styling */
.form label span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: all 0.3s ease;
}

/* Placeholder-shown */
.form label input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

/* Focused or valid state */
.form label input:focus + span,
.form label input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
  color: green;
}

/* Optional: Highlight the border when focused */
.form label input:focus {
  border-color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}
@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
